    <nav class="navbar bg-body-tertiary justify-content-center">
      <img class="navbar-brand" src="/static/favicon.ico" height="150px"/>
      <ul class="nav w-75 justify-content-center">
        <li>
          <h1 class="w-75"><a class="navbar-brand" href="/">Meine Pokemon Karten</a></h1>
        </li>
      </ul>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </li>
      </ul>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menü</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Startseite</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/karte/neu">Neue Karte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/karten/importieren">Karten per CSV importieren</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
